/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-Mar-2016, 00:00:27
    Author     : Joe
*/

td,th {text-align:left; 
       padding-left: 10px;
       padding-right: 10px;
}
a:hover {
    background-color: activecaption;
}
h1 {
    font-size: 400%;
}
button:hover {color: blue; background-color: white;}
button{
    background-color: #0080ff;
    color:white;}
/* Index.html */

indexTable{
    align-content:center;
    background-color: #0080ff;
    color:white;
    border-radius: 20px;
}
/* Login menu bar at top of page */
.login{
    color: #0080ff;
    background-color: white;
    width:92%;
    position: fixed; 
    top: 0; 
    right: 4%;
}
/* Heading Top (Light blue) */
.heading{
    background-color: #80bdff;
    /*color:#0080ff;*/
    color: white;
    width:90%;
    margin: auto;
    padding: 10px;
}
/* Navigation Button Menu */
.navigation{
        text-align: center;
        background-color: #0080ff;
        width:90%;
        margin:auto;
        padding-left: 10px;
        padding-right: 10px;
        }

.table {
  margin-left: auto ;
  margin-right: auto ;
}
.tablebutton{
    text-align:right; 
}
.mainbody{
    text-align: center;
    width:90%;
    margin: auto;
    /*background-color: #cce6ff;*/
    background-color: white;
    padding: 10px;
  font-size: 15px;
}
.halfbody{ /*edit*/
    vertical-align: top;
    display: inline-block;
    text-align: left;
    min-width: 30%;
    max-width: 70%;
    margin: auto;
    background-color: #cce6ff;
    /*padding: 10px;*/
}

.bottomlinks{    
    color: #ffffff;
    width:90%;
    margin: auto;
    background-color: #0080ff;  
    padding: 10px;
}
.thead{
    text-align:center; 
    background-color: #0080ff; 
    color: white;
    font-size:20px;
    font-weight: bold;
}
.tbhead{
    font-size: 300%;
    text-align:center; 
    background-color: #cce6ff; 
    color: #0080ff;
    font-size: 300%;
    font-weight: bold;
}
.tshead{
    Height: 18px;
    text-align:center; 
    /*background-color: #004d99;*/
    background-color: #80bdff;
    color: white;
    font-size:16px;
    font-weight: bold;
}
.menuform{
    display:inline;
}
#navm{
    display:inline;
}
#bl a:link{color:white;}
#bl a:visited{color:#80bdff;}
#bl a:hover{color:white;}
#bl th, td {padding-left:20px;padding-right:20px;}


table#table1 {    
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width:300px;
  }
#msg {
    
    text-align: center;color: #0080ff;font-weight: bold;font-size: 250%;
}
 

/*
a.class1 {color:red;}
a.class1:link  {text-decoration: none; color: red;}
a.class1:visited {text-decoration: none; color: red;}
a.class1:hover {text-decoration: underline; color: red;}
a.class1:active {text-decoration: none; color: red;}
a.bottomlinks:hover{color:white;}

.blah{
        a:hover {background-color: activecaption;}
        button:hover {color: blue; background-color: highlight;}
        }

.spacer{
    text-align: left;
    width:20px;
    margin: auto;
    background-color: white;
    display: inline-block;
    //padding: 10px;
}
*/