/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-Mar-2016, 00:00:27
    Author     : Joe
*/

a:hover {
    background-color: activecaption;
}

h1 {
    text-align: center;
    font-size: 400%;
}
button:hover {color: blue; background-color: white;}
button{
    background-color: #0080ff;
    color:white;
}

button#active{
    background-color: white;
    color:#0080ff;
}

/* Index.html */
/*.table
.table.one {
  margin-left: auto ;
  margin-right: auto ;
}*/

/* Tables */
table#t1 {
    background-color: #0080ff; color: white; border-radius: 20px;
}
table#t01 {
    width: 100%;    
    background-color: #f1f1c1;
}
td,th {
    text-align:left; 
    padding-left: 10px;
    padding-right: 10px;
}
td#bt{
    text-align:right; 
}
th#thc{
    text-align:center; 
}
td#tdc{
    text-align:center; 
}
table#t100{
    width: 100%;
}
/* tablebutton - index.java */
.tablebutton{
    text-align:right; 
}
/* Image */
img#img200{
    width:200px; 
    height:200px;
}
img#img150{
    width:150px; 
    height:150px;
}
img#img100{
    width:100px; 
    height:100px;
}
img#img50{
    width:50px; 
    height:50px;
}
select{
    width:100%; 
}
/* Select */

/*
table#table1 {    
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width:300px;
  }
*/

/* Login menu bar at top of page */
.login{
    color: #0080ff;
    background-color: white;
    width:92%;
    position: fixed; 
    top: 0; 
    right: 4%;
}

/* Heading Top (Light blue) */
.heading{
    background-color: #80bdff;
    /*color:#0080ff;*/
    color: white;
    width:90%;
    margin: auto;
    padding: 10px;
}

/* Navigation Button Menu */
.navigation{
        text-align: center;
        background-color: #0080ff;
        width:90%;
        margin:auto;
        padding-left: 10px;
        padding-right: 10px;
        }
span > form {display:inline;}

.mainbody{
    text-align: center;
    width:90%;
    margin: auto;
    /*background-color: #cce6ff;*/
    background-color: white;
    padding: 10px;
  font-size: 15px;
}

/* bottom menu */
.bottomlinks{    
    color: #ffffff;
    width:90%;
    margin: auto;
    background-color: #0080ff;  
    padding: 10px;
}
.thead{
    text-align:center; 
    background-color: #0080ff; 
    color: white;
    font-size:20px;
    font-weight: bold;
}
.tbhead{
    font-size: 300%;
    text-align:center; 
    background-color: #cce6ff; 
    color: #0080ff;
    font-size: 300%;
    font-weight: bold;
}
.tshead{
    text-align:center; 
    background-color: #80bdff;
    color: white;
    font-size:16px;
    font-weight: bold;
}

/* index scroll sections */
.scrollsp{
    height: 120px; 
    overflow: scroll; 
    overflow-x: hidden;
}
.scrollws{
    height: 200px; 
    overflow: scroll; 
    overflow-x: hidden;
}


#navm{
    display:inline;
}
.hor{
    display:inline;
}
#bl a:link{color:white;}
#bl a:visited{color:#80bdff;}
#bl a:hover{color:white;}
#bl th, td {padding-left:20px;padding-right:20px;}


#msg {
    
    text-align: center;color: #0080ff;font-weight: bold;font-size: 250%;
}
 

/*
a.class1 {color:red;}
a.class1:link  {text-decoration: none; color: red;}
a.class1:visited {text-decoration: none; color: red;}
a.class1:hover {text-decoration: underline; color: red;}
a.class1:active {text-decoration: none; color: red;}
a.bottomlinks:hover{color:white;}

.blah{
        a:hover {background-color: activecaption;}
        button:hover {color: blue; background-color: highlight;}
        }

.spacer{
    text-align: left;
    width:20px;
    margin: auto;
    background-color: white;
    display: inline-block;
    //padding: 10px;
}
*/